<form class="{{classes}}" autocomplete="off">
    <div>
        <nav class="sheet-tabs tabs">
            <a class="item" data-tab="export">{{localize
                'forien-copy-environment.forms.player-settings.export.tabTitle'}}</a>
            <a class="item" data-tab="import">{{localize
                'forien-copy-environment.forms.player-settings.import.tabTitle'}}</a>
        </nav>

        <section class="tab" data-tab="export">
            <div>
                <p>{{localize 'forien-copy-environment.forms.player-settings.export.playerList'}}</p>
                <ul>
                    {{#each users}}
                    <li>{{ data.name }}</li>
                    {{/each}}
                </ul>
            </div>

            <div class="flexrow">
                <button type='button' class="export-save-player"><i class="fas fa-save"></i> {{localize 'forien-copy-environment.forms.player-settings.export.save'}}</button>
                <button type='submit'><i class="fas fa-close"></i> {{localize 'Close'}}</button>
            </div>
        </section>

        <section class="tab" data-tab="import">
            <div>
                {{#unless settings}}
                <p>{{localize 'forien-copy-environment.forms.player-settings.import.existing'}}</p>
                <div class="form-group">
                    <input type="file" name="import-file" accept=".json" />
                </div>
                {{/unless}}

                {{#if settings}}
                <p>{{localize 'forien-copy-environment.forms.player-settings.import.playerList'}}</p>
                {{#each settings}}
                <fieldset name="input {{ name }}">
                    <legend>{{ name }}</legend>
                    <table>
                        <thead>
                            <th width="20%">{{localize 'forien-copy-environment.forms.player-settings.import.property'}}</th>
                            <th width="40%">{{localize 'forien-copy-environment.forms.player-settings.import.newValue'}}</th>
                            <th width="40%">{{localize 'forien-copy-environment.forms.player-settings.import.currentValue'}}</th>
                        </thead>
                        <tbody>
                            {{#each coreDiff}}
                            <tr>
                                <td><label><input name="{{ name }}" id="core-{{@../index}}-{{@index}}" type="checkbox" data-for="{{ @../index }}" data-type="core" checked>{{ name }}</label></td>
                                <td class="value">
                                    {{ newString }}
                                </td>
                                <td class="value">
                                    {{ oldString }}
                                </td>
                            </tr>
                            {{/each}}
                            {{#each flagDiff}}
                            <tr>
                                <td><label><input name="{{ name }}" type="checkbox" data-for="{{ @../index }}" data-type="flag" checked>{{ name }}</label></td>
                                <td class="value">
                                    {{ newString }}
                                </td>
                                <td class="value">
                                    {{ oldString }}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </fieldset>
                {{/each}}
                {{/if}}

                {{#if notFound}}
                <p>{{localize 'forien-copy-environment.forms.player-settings.import.notFound'}}</p>
                <ul>
                    {{#each notFound}}
                    <li>{{ name }}</li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>

            <div class="flexrow">
                {{#if settings}}<button type='button' class="import-players"><i class="fas fa-save"></i> {{localize 'forien-copy-environment.forms.player-settings.import.save'}}</button>{{/if}}
                <button type='submit'><i class="fas fa-close"></i> {{localize 'Close'}}</button>
            </div>
        </section>
    </div>
</form>