<form class="{{classes}}" autocomplete="off">
    <div>
        <nav class="sheet-tabs tabs">
            <a class="item" data-tab="settings">{{localize
                'forien-copy-environment.forms.world.settings.tabTitle'}}</a>
            <a class="item" data-tab="environment">{{localize
                'forien-copy-environment.forms.world.environment.tabTitle'}}</a>
        </nav>

        <section class="tab" data-tab="settings">
            <div>
                <p>{{localize 'forien-copy-environment.forms.world.settings.intro'}}</p>
                <p>{{localize 'forien-copy-environment.forms.world.settings.exportIntro'}}: <button type='button' class="export-save-world-settings"><i class="fas fa-save"></i> {{localize 'forien-copy-environment.forms.world.settings.download'}}</button></p>
                <p>{{localize 'forien-copy-environment.forms.world.settings.importIntro'}}: <input type="file" class="import-world-settings" name="import-world-settings-file" accept=".json" /></p>
            </div>

            <div class="flexrow">
                <button type='submit'><i class="fas fa-close"></i> {{localize 'Close'}}</button>
            </div>
        </section>

        <section class="tab" data-tab="environment">
            <div>
                <p>{{localize 'forien-copy-environment.forms.world.environment.intro'}}</p>
                <p>{{localize 'forien-copy-environment.forms.world.environment.copyIntro'}}: <button type='button' class="export-copy-world-env"><i class="fas fa-copy"></i> {{localize 'forien-copy-environment.forms.world.environment.copy'}}</button></p>
                <p>{{localize 'forien-copy-environment.forms.world.environment.exportIntro'}}: <button type='button' class="export-save-world-env"><i class="fas fa-save"></i> {{localize 'forien-copy-environment.forms.world.environment.download'}}</button></p>
                <p>{{localize 'forien-copy-environment.forms.world.environment.importIntro'}}</p>
            </div>

            <div class="flexrow">
                <button type='submit'><i class="fas fa-close"></i> {{localize 'Close'}}</button>
            </div>
        </section>
    </div>
</form>